*{
	margin:0;
	padding: 0;
}
ul,li{
	list-style: none;
}
img{
	display: block;
}
html,body{
	height:100px;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
#main{
	height: 100%;
	display: flex;
	flex-direction: column;
}
#content{
	flex: 1;
	overflow: auto;
	margin-bottom: #e54847;
	border: 1px solid #E54847;
	position: relative;
}
